.allProperties{
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-style: solid ;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}
.propImge {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.p{
    float: left;
}